body {
  margin: 0;
  box-sizing: border-box;
}

/* Default light mode styles */
body {
  background-color: white;
  color: black;
  transition: background-color 0.3s, color 0.3s;
}

button {
  padding: 10px;
  margin: 20px;
  cursor: pointer;
}

/* Dark mode styles */
body.dark-mode {
  background-color: #333; /* Dark background */
  color: white; /* Light text */
}
